{% extends 'base.html' %}
{% block title %}Entries{% endblock %}
{% block content %}
    <h1>Entries</h1>
    <form action="/" method="POST">
        <input type="text" name="content" placeholder="Enter new text">
        <input type="submit" value="Submit">
    </form>

    <!-- Start of table structure -->
    <table>
        <thead>
            <tr>
                <th>Content</th>
                <th>Action</th>
                <th>Date Posted</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>
                    <!-- Editable content field -->
                    <form action="/edit/{{ entry.id }}" method="POST">
                        <input type="text" name="content" value="{{ entry.content|e }}">
                </td>
                <td>
                    <!-- Save button -->
                        <button type="submit">Save</button>
                    </form>
                </td>
                <td>
                    <!-- Display date posted -->
                    {{ entry.date_posted.strftime('%Y-%m-%d %H:%M') }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- End of table structure -->

{% endblock %}
